<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated serviceblueprint -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="serviceblueprint.presentation.ServiceblueprintModelWizardID"
            name="%_UI_ServiceblueprintModelWizard_label"
            class="serviceblueprint.presentation.ServiceblueprintModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ServiceblueprintModelFile.gif">
         <description>%_UI_ServiceblueprintModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated serviceblueprint -->
      <editor
            id="serviceblueprint.presentation.ServiceblueprintEditorID"
            name="%_UI_ServiceblueprintEditor_label"
            icon="icons/full/obj16/ServiceblueprintModelFile.gif"
            extensions="serviceblueprint"
            class="serviceblueprint.presentation.ServiceblueprintEditor"
            contributorClass="serviceblueprint.presentation.ServiceblueprintActionBarContributor">
      </editor>
   </extension>

</plugin>
